<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>武汉欢乐谷可视化管理系统</title>
    <link rel="stylesheet" th:href="@{/assert/layui/css/layui.css}">
    <script th:src="@{/assert/js/jq.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <img th:src="@{/assert/img/logo/HLG.png}" style="width: 50%; height: 120%;"/>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" ><a href="" style="font-size: 18px; color: #fffbee;">武汉欢乐谷可视化管理系统</a></li>
        </ul>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-username" style="font-size: 20px; color: #009688;"></i>
                    武汉欢迎您：&nbsp;&nbsp;开发商
                </a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/}"><i class="layui-icon layui-icon-logout" style="font-size: 20px; color: #009688;"></i>
                    告辞
                </a>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;区域管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/Kback}">人流量管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-tabs"></i>&nbsp;&nbsp;&nbsp;&nbsp;账号管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/Sid}">商家账号</a></dd>
                        <dd><a th:href="@{/Yid}">游客账号</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-auz"></i>&nbsp;&nbsp;&nbsp;&nbsp;可视化分析</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/Kpeople}">人流量分析</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!-- 表格 -->
        <div style="width:100%">
            <div class="layui-form">
                <form class="layui-form">
                    <table class="layui-table" id="test" lay-filter="test">
                        <colgroup>
                            <col width="20">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                            <col width="200">
                        </colgroup>
                        <thead class="checkallbox">
                        <tr >
                            <th><input lay-skin="primary" type="checkbox" id="checkall" name="check" lay-filter="allChoose" value="checkall"/></th>
                            <th>编号</th>
                            <th>UserName</th>
                            <th>PassWord</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="seach-box">
                        <th:block th:each="c:${session.Yid}">
                            <tr>
                                <td><input type="checkbox" title="" lay-skin="primary" name="checkone"></td>
                                <td class="center"th:text="${c.id}"></td>
                                <td class="center" th:text="${c.username}"></td>
                                <td class="center" th:text="${c.password}"></td>
                                <td>
                                    <button type="button" class="layui-btn layui-btn-xs" id="update" th:onclick="doEdit()">编辑</button>
                                    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" id="delete" th:onclick="doDelect()">删除</button>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <div style="padding: 15px;">
                        <!-- 搜索框 -->
                        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                            <form action="supplierSearchback" method="post"><!-- 点击搜索按钮跳转到相应位置 -->
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <button type="button" class="layui-btn " onclick="doAdd()">
                                            <i class="layui-icon">&#xe608;</i> 添加
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    © Travel.com - 区域管理
</div>
</div>
<script th:src="@{/assert/layui/layui.js}" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
<!-- 表单 -->
<script>
    layui.use(['form'], function(){
        var form = layui.form
    });
</script>
<!-- 复选框 -->
<script type="text/javascript">
    layui.use(['form','jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        //点击全选, 勾选
        form.on('checkbox(allChoose)', function (data) {
            var child = $(".seach-box input[type='checkbox']");
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
    });
</script>
<!-- 分页 -->
<!--删除增加编辑操作 -->
<script type="text/javascript">
    function doAdd() {
        layer.open({
            type: 2
            ,title: '增添区域'
            ,content: 'peopleadd'
            ,maxmin: true
            ,anim: 1 //0-6的动画形式，-1不开启
            ,area: ['500px', '350px']
        });
    }
</script>
</body>
</html>